body {
  padding-top: 70px;
  background-color: #211621;
}

h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 50px;
  /* color: #EC9D1D; */
  /* text-transform: uppercase; */
}

h4 {
  color: #b5b5b5;
}

a {
  color: #A44F39;
}

.page-header {
  text-align: center;
  /* background-color: #849AA5; */
  background-color: #EC9D1D;
  border-radius: 5px;
  /* width: 80%; */
}

.tina-gif {
  text-align: center;
  margin: 50px 0;
}

.queen-of-computers {
  width: 300px;
  margin: 50px auto;
  border-radius: 50%;
  display: block;
}

.content {
  margin-bottom: 50px;
}

.code-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.text-container {
  border-radius: 5px;
  background-color: #F3F0EF;
  display: flex;
  justify-content: space-around;
  /* width: 80%; */
  margin: 0 auto;
  text-align: center;
}

.code-container img{
  padding: 20px;
  max-width: 300px;
  max-height: 200px;
}

.contact-container {
  text-align: center;
}

.contact-container .content {
  margin-top: 50px
}

.jumbotron {
  /* background-color: #849AA5; */
  background-color: #EC9D1D;
  /* color: #849AA5; */
}

.contact-icon {
  font-size: 45px;
  margin: 0 5px;
}

.contact-icon-link:hover {
  text-decoration: none
}

.contact-icon.fa-linkedin-square {
  color: #007bb6;
}

.contact-icon.fa-github-square {
  color: #353535;
}

.contact-icon.fa-facebook-square {
  color: #3b5998;
}