
<html lang="en">
  <head>
      <% include ../helpers/head %>
  </head>

  <body class="container">
      
      <header>
          <% include ../helpers/navbar %>
        </header>
      
        <main>
          <div class="page-header">
            <h1>Probably coding, somewhere</h1>
            <!-- <h4 class="subheader">Dog not included</h4> -->
          </div>
          <!-- <div class="text-container"> -->
          <div class="content">
            <img class="queen-of-computers" src="/images/erin.jpg" />
            <div class="text-container">
              <p>My name is Erin and I'm a recent graduate of Northeastern University, BS in computer engineering and computer science. Before moving up to Boston, I spent two years at Western Kentucky University, attending high school through the Gatton Academy of Mathematics and Science. Over the past seven years of undergrad, I discovered a <a href="https://phagesdb.org/phages/Kimya/" target="_blank">bacteriophage</a>, pivoted from biology to bioinformatics to computer science, traveled to eleven countries for school and fun, dabbled around the tech stack from front-end to embedded, and finally figured out how computers do ~*all that*~.</p>
              <p>I've done three co-ops at startups in Cambridge, MA and Arusha, Tanzania. The experiences taught me how to work through problems individually and as a team, as well as lots of specific knowledge about CRISPR, the Swahili language, and energy vampires. I'm now working full time as a software engineer in Cambridge, MA.</p>
            </div>
            </br> 
            <div class="text-container">
                <p><b>Viral quarantine hobby tally:</b></p>
                <ul>
                  <li>Sourdough (densely unsuccessful)</li>
                  <li>Kombucha brewing (deliciously more successful)</li>
                  <li>Mask sewing</li>
                  <li>Zoom Christmas, wedding, bar memorial</li>
                  <li>10 houseplants</li>
                  <li>Adopted Cinnamon, my feline WFH coworker</li>
                </ul>
            </div>
            </br> 
            <div class="text-container">
                <p><b>Ongoing side projects:</b></p>
                <ul>
                  <li>Making pages pretty at <a href="https://mealkit.me" target="_blank">MealKit.me</a></li>
                  <li>Learning metalworking and MIG welding at Artisan's Asylum</li>
                  <li>Crocheting <a href="https://daisyfarmcrafts.com/crochet-bobble-lines-baby-blanket/" target="_blank">this baby blanket</a></li>
                </ul>
            </div>
            </br> 
            <div class="text-container">
                <p><b>Favorite new recipes:</b></p>
                <ul>
                  <li><a href="https://cooking.nytimes.com/recipes/1020486-vinegar-chicken-with-crushed-olive-dressing" target="_blank">Vinegar Chicken with Crushed Olive Dressing</a></li>
                  <li><a href="https://www.maangchi.com/recipe/buldak" target="_blank">Maangchi's Cheese Buldak (Fire Chicken)</a></li>
                  <li><a title="by request only ;)">Chili</a></li>
                </ul>
            </div>
          </div>
        </main>
  </body>
  
</html>