
<html lang="en">
  <head>
      <% include ../helpers/head %>
  </head>

  <body class="container">
      
      <header>
          <% include ../helpers/navbar %>
        </header>
      
        <main>
          <div class="page-header">
            <h1>Probably coding, somewhere</h1>
            <h4 class="subheader">Dog not included</h4>
          </div>
          <!-- <div class="text-container"> -->
          <div class="content">
            <img class="queen-of-computers" src="/images/moi.jpg" />
            <div class="text-container">
              <p>My name is Erin and I'm currently a senior at Northeastern University studying computer engineering and computer science. Before moving up to Boston, I spent two years at Western Kentucky University, attending high school through the Gatton Academy of Mathematics and Science. Over the past seven years of undergrad, I discovered a <a href="https://phagesdb.org/phages/Kimya/" target="_blank">bacteriophage</a>, pivoted from biology to bioinformatics to computer science, traveled to eleven countries for school and fun, dabbled around the tech stack from front-end to embedded, and finally figured out how computers do ~*all that*~.</p>
              <p>I've done three co-ops at startups in Cambridge, MA and Arusha, Tanzania. The experiences taught me how to work through problems individually and as a team, as well as lots of specific knowledge about CRISPR, the Swahili language, and energy vampires. I graduate with my B.S. in May 2020, and I'm pursuing opportunities to bring excellent program design practices into computer engineering settings. Please feel free to reach out with opportunities in industry, or to persuade me to spend another seven years in academia.</p>
            </div>
            </br> 
            <div class="text-container">
                <p><b>Currently reading:</b></p>
                <ul>
                  <li>How to Change Your Mind by Michael Pollan</li>
                  <li>Move Your Shadow by Joseph Lelyveld</li>
                  <li>Design Patterns by The "Gang of Four"</li>
                </ul>
            </div>
            </br> 
            <div class="text-container">
                <p><b>Ongoing side projects:</b></p>
                <ul>
                  <li>Figuring out what's next after graduation</li>
                  <li>Learning metalworking and MIG welding at Artisan's Asylum</li>
                  <li>Knitting and crocheting a handful of Christmas gifts</li>
                  <li>An introductory class in global health</li>
                </ul>
            </div>
            </br> 
            <div class="text-container">
                <p><b>Favorite new recipes:</b></p>
                <ul>
                  <li><a href="https://cooking.nytimes.com/recipes/1020486-vinegar-chicken-with-crushed-olive-dressing" target="_blank">Vinegar Chicken with Crushed Olive Dressing</a></li>
                  <li><a href="https://www.maangchi.com/recipe/buldak" target="_blank">Maangchi's Cheese Buldak (Fire Chicken)</a></li>
                  <li><a title="by request only ;)">Chili</a></li>
                </ul>
            </div>
          </div>
        </main>
  </body>
  
</html>