<header>
    <% include ../helpers/navbar %>
</header>
<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body class="container">

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <main>
    <div class="jumbotron">
      <h1>Erin Burba</h1>
      <p>Welcome to my personal website. Please feel free to contact me regarding professional opportunities, open source projects, or any information that could help me further my transformation into Dana Scully.</p>

    </div>

    <div class="tina-gif">
      <iframe src="https://giphy.com/embed/3o85xG3i2IQrHhPJyU" frameBorder="0" width="300px"></iframe>
      <p>
        <a href="https://giphy.com/gifs/the-x-files-3o85xG3i2IQrHhPJyU">
          via GIPHY
        </a>
      </p>
    </div>

    <!-- <button class="btn btn-default" type="button" onclick="myFunction()">
      Try it
    </button> -->

    <div id="doge-image"/>
  </main>
</body>

</html>