<header>
    <% include ../helpers/navbar %>
</header>
<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body class="container">

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <main>
    <div class="jumbotron">
      <h1>Erin Burba</h1>
      <p>Welcome to my personal website.</p>

    </div>

    <button class="btn btn-default" type="button" onclick="myFunction()">
      Try it
    </button>

    <div id="doge-image"/>
  </main>
</body>

</html>