
<html lang="en">
  <head>
      <% include ../helpers/head %>
  </head>
  <header>
      <% include ../helpers/navbar %>
  </header>

  <body class="container">
      
      <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
      <!-- Check out more components here: http://getbootstrap.com/components/ -->
  
      <div class="page-header">
        <h1>Projects</h1>
      </div>
      <div class="code-container">
        <img src="/images/mealkitme.png"/>
        <div>
          <h3>MealKit.me</h3>
          <p>Assisting with web development and idea bouncing for my friends' new startup, an ecommerce site to help local restaurants sell meal kits to home chefs. (Launching soon!)</p>
        </div>
      </div>
      <div class="code-container">
        <img src="/images/c4c.png"/>
        <div>
          <h3>Computing4Change at SC19 and SC20</h3>
          <p>Selected as one of 24 students for a social impact-centered program on data analysis, visualization, and storytelling. Developed skills in Python data analysis, R Studio, Tableau, and public speaking. Returned as a volunteer mentor in 2020, leading Python tutorials and assisting students with investigational data analysis.</p>
        </div>
      </div>
      <div class="code-container">
        <img src="/images/knifewieldingtentacle.png"/>
        <div>
          <h3>Knife-Wielding Tentacle</h3>
          <p>Inspired by <a href="https://www.youtube.com/watch?v=pQ2dI_B_Ycg " target="_blank">this video</a> from outaspaceman. My friend said it was "the best birthday present I've ever received."</p>
        </div>
      </div>
  </body>
  
</html>